@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: #050505;
  color: white;
  overflow-x: hidden;

  font-family:
    var(--font-orbitron),
    Arial,
    sans-serif;
}

/* touch */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button,
input {
  touch-action: manipulation;
}

/* input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

/* selection */
::selection {
  background: #ff3b30;
  color: white;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 999px;
}

/* LED text */
.led-text {
  color: #ff3b30;

  text-shadow:
    0 0 4px rgba(255, 59, 48, 0.9),
    0 0 8px rgba(255, 59, 48, 0.8),
    0 0 16px rgba(255, 59, 48, 0.7),
    0 0 32px rgba(255, 59, 48, 0.5);
}

/* pulse */
@keyframes ledPulse {
  0% {
    opacity: 0.95;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.95;
  }
}

.led-pulse {
  animation: ledPulse 1.5s infinite;
}

/* danger */
@keyframes dangerPulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

.danger {
  animation: dangerPulse 1s infinite;
}